/bin
/config
/public
/var
/migrations
/src/Kernel.php
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.env
composer.json.dist
###< symfony/framework-bundle ###
